<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:directBootAware="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">


        <activity
            android:name=".MainActivity"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 定义设备管理策略 -->
        <receiver
            android:name=".receiver.CTDeviceAdminReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.MyReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="com.liaozp.devicemanagerdemo.RESETPWSUCC" />
                <action android:name="com.liaozp.devicemanagerdemo.RESETPWSUCC43" />
                <action android:name="com.liaozp.devicemanagerdemo.RESETPWFAILED" />
                <action android:name="com.liaozp.devicemanagerdemo.SETTOKEN" />
            </intent-filter>
        </receiver>
    </application>

</manifest>